.comment-form-container {
  max-width: 600px;
  display: flex;
  box-sizing: content-box;
  padding: 16px 16px;
  height: auto;
  border: 1px solid #efefef;
  margin-top: 16px;
  /* border-radius: 3px;
	border-color: #efefef; */
 	border-top: 1px solid rgb(222, 224, 225);
  background-color: #fafafa;
	font-size: 13px;
	align-items: center;
	vertical-align: middle;
	overflow: auto;
	box-sizing: border-box;
}
.comment-form {
  border-top: none;
  font-size: 15px;
  /* padding: 16px 0px 0; */
  /* width: fit-content; */
  width: 100%;
  min-height: 12px;
  display: flex;
	/* justify-content: space-evenly; */
	height: auto;
	align-items: center;
	/* justify-content: ; */
	overflow-wrap: break-word;
	overflow-y: auto;
}
.comment-form-user-icon {
  height: 40px;
  width: 44px;
  border-radius: 50%;
  background: pink;
  display: inline-block;
  /* justify-content: center; */
	align-items: center;
	margin-right: 16px;
	vertical-align: middle;
}
.comment-form-input-box {
  border: 1px solid rgb(222, 224, 225);
  font-size: 15px;
  padding: 4px 16px;
  border-radius: 20px;
	/* display: inline-block; */
	display: table;
	table-layout: fixed;
  width: -webkit-fill-available;
	/* height: 100%; */
	height: fit-content;
	/* min-height: 27px; */
	justify-self: center;
	/* margin-left: 16px; */
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
	overflow: auto;
}
textarea.comment-form-input {
	width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	/* min-height: 32px; */
	height: auto;
	overflow-wrap: break-word;
	display: inline;
	overflow: auto;
	box-sizing: border-box;
}
.comment-form-button {
  cursor: pointer;
  padding: 5px;
  background: #329bff;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  /* visibility: hidden; */
	color: white;
	vertical-align: middle;
	margin-left: 8px;
}
/* #comment-submit-button {
	width: auto;
} */







.comments-link-container {
  width: 100%;
  height: 50px;
	padding: 0 16px;
	margin: 16px 0 0 0;
	font-size: 15px;
	color: #666666;
	text-decoration: underline;
	align-items: center;
	cursor: pointer;

}
commments-link-text {
  font-size: 15px;
	width: 100%;
  padding: 8px;
	align-items: center;
	cursor: pointer;
}








.comment-item-container {
	display: block;
	max-width: 600px;
	padding: 8px 16px; 
	border-radius: 3px;
	/* margin: 16px 0 0; */
	display: block;
	min-height: 12px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	border-color: #efefef;
	font-size: 13px;
}
.comment-item-header {
	height: 41px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	/* padding: 0 8px; */
}
.comment-item-user-icon {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: pink;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 0 16px 0 0;
}
.comment-item-user-info {
	width: 100%;
	font-weight: bold;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.comment-item-content {
	padding: 15px 15px 0px 0px;
	color: #333333;
	margin-bottom: 0;
	max-width: 600px;
	overflow-wrap: break-word;
}
.comment-item-footer {
	width: 100%;
	padding: 5px 0;
	height: 32px;
	justify-content: start;
	display: flex;
	align-items: center;
}
.comment-item-icon {
	width: 20px;
	height: 20px;
	/* padding-left: 10px; */
}
.comment-item-text {
	/* width: 524px; */
	/* padding: 0 2px; */
	color: #666666;
}




.comment-dislike {
	display: flex;
	font-size: 13px;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
}

.comment-disliked {
	display: flex;
	color: #329bff;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	cursor: pointer;
}
.comment-disliked-text {
	color: #329bff;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	cursor: pointer;
}