.login-form-container {
  padding-left: 32px;
}

.form_column{
  color:#666;
}
.text_box{
background-color: #EEE;
width: 100%;
font-size: 15px;
line-height: 1.4;
padding-left: 8px;
padding-right: 0px;
min-height: 32px;
margin-bottom: 8px;

}

.login-title {
  margin-bottom: 8px;
}


.login-form-container {
  border-left: 1px solid grey;
}

.form-button {
border-radius: 3px;
box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
display: inline-block;
font-weight: 500;
outline: 0;
padding: 3px 7px 4px 7px;
text-align: center;
text-decoration: none;
cursor: pointer;
background: #3e78ad;
color: #fff;
border: 1px solid #3a66ad;
}
.demo-button {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: green;
  color: #fff;
  border: 1px solid #3a66ad;
}
