.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #F1F2F2;
    position: fixed;
}

.main-body {
    margin-top: 50px;
    width: 1050px;
    display: flex;
    justify-content: center;
}

