.search-results {
    width: 600px;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
}

.search-results-list {

}

.search-results-list li {
    padding: 20px 5px;
    border-bottom: 1px solid #e2e2e2;
    color: #3b5998;
    font-size: 16px;
    font-weight: 600;
}


.results-for {
    color: #636466;
    padding: 10px 5px;
    border-bottom: 1px solid #e2e2e2;
}

.results-for > strong {
    color: black;
}

#no-results {
    color: #636466;
    font-weight: 500;
}

.search-results-answers-number {
    color: #636466;
    font-size: 14px;
    font-weight: 500;
}

.search-results-list li:hover .search-results-match {
    text-decoration: underline;
}