.SideBar-container {
  box-sizing: border-box;
  width: 142px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin-top: 30px;
}

.SideBar-innerbox {
    box-sizing: border-box;
    top: 80px;
    overflow-y: auto;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.sidebar-icon{
  height: 15px;
  width: 15px;
  margin-right: 5px
}

.Link-container {
  box-sizing: border-box;
  margin-bottom: 8px;
  height: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 4px;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.Link-container:hover{
  background: rgb(230, 231, 232);
}
.sidebar-link {
  display: flex
}
.Sidebar-icon-label {
    box-sizing: border-box;
    color: rgb(99, 100, 102);
    font-size: 13px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.rsb-container {
  margin-top: 25px;
  width: 142px;
  height: 500px;
}