.TopicPageHeader{
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 16px;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
    display: block;
    width: 600px;
}
.TopicPageHeader-Top {
  margin: 5px 16px;
}

.topic_photo_img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}
.icon-background {
  background-image: url(https://quarrel-images.s3.us-east-2.amazonaws.com/1583426339036);
  width: 100%;
  height: 100%;
}

.icon {
  background-image: url(https://quarrel-images.s3.us-east-2.amazonaws.com/1583426339036);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.topic-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  padding-top: 8px;
}

.TopicName h1 {
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  font-size: 23px;
}


.icon_action_bar {
  margin-bottom: -12px;
  cursor: pointer;
}

.icon_action_bar-inner {
  align-items: center;
  padding-top: 1px;
  padding-bottom: 15px;
}

#follow-icon-pressed {
  color: #329bff!important;
}

.ui_button {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  border-radius: 40px!important;
  min-width: fit-content!important;
  width: 24px!important;
  min-height: 24px!important;
}

.ui_button-inner {
  display:flex;
  align-items: center;
  justify-content: center;
}
.ui_button_label {
  margin-top: 6px;
  margin-left: 5px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: #329bff;
}
.ui_button_count {
  color: #666;
  margin-left: 5px;
}
#bookmark-icon {
  margin-left: 5px
}
.bullet {
  padding-right: 5px;
  opacity: .5;
  line-height: 1.4;
}


/* navbar */

.TopicPageNavBar {
  background: #fff;
  border-bottom: 0;
  font-size: 13px;
}

.linked_list_item {
  padding: 11px 16px;
  display: inline-flex;
  color: #949494;
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0);
}

.linked_list_item:hover {
  border-bottom: 2px solid #949494;
  background: rgb(237, 237, 237);
}
.linked_list_item:focus {
  border-bottom: 2px solid red;
}

.topics-list-container {
  display: flex;
  margin-top: 20px;
}

.topics-list-item {
  background: #f7f7f7;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 13px;
}